.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

#for-teachers {
    color: #868686;
    margin-left: 4px;
}
.signup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.signup-body p {
    max-width: 59%; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the paragraph */
}

.icon-container img {
    height: 100px
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    align-items: center;
}

.input-group input {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #E1F3F5;
    text-align: center;
}

.input-group select {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #E1F3F5;
    text-align: center;
}

button {
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #579AA0;
    color: white;
    cursor: pointer;
}


