p {
    color: #868686;

}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}


.sentence-container p {
    max-width: 59%; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the paragraph */
}

.intro-sentence-container {
    margin-bottom: 20px;
    
}

.body-sentence-container {
    margin-bottom: 30px;
}

