.main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevents scrollbar if content is too large */
}





.main-header {
    display: flex;
    text-align: left;
    padding-left: 20px;
}

.main-footer {
    padding: 20px;
    text-align: center;
}