.sidebar-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    position: relative;
}

.sidebar-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

.sidebar-icon.top {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.new-experiment {
    display: flex;
    align-items: center;
}

.sidebar-icon.bottom {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
 }

 .sidebar-icon.bottom:hover {
    cursor: pointer;
    border-radius: 15px;
   background-color: #61646a;
 }

.icon-image {
    height: 30px;
    width: 30px;
    border-radius: 50%; /* Optional: makes the image circular */
    margin-right: 10px;
}

.icon-initials {
    height: 30px;
    width: 30px;
    background-color: #007bff; /* Example color, change as needed */
    border-radius: 50%; /* Creates a circle */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.profile-menu {
    bottom: 40px; /* Adjust based on the size of the profile icon */
    right: 0;
    background-color: rgb(36, 36, 36);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-left: 20px;
    margin-right: 20px;
   
}

.menu-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    
}

.existing-experiments {
margin-top: 20px;
width: 100%;
}

.existing-experiments h3{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.263);
    margin-bottom: 15px;
}

.experiment-title {
    position: relative;
    width: 99%; /* Adjust to your desired width */
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
    color: white; /* Set the text color */
  }
  
  .experiment-title:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%; /* Adjust the width of the fading effect */
    background: linear-gradient(to right, transparent, rgb(36, 36, 36));
    mask-image: linear-gradient(to right, transparent, rgb(36, 36, 36));
  }

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #61646a;
}