.step-three-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
} 


.step-three-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
    margin-right: 10%;
}


.user-response {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
    margin-right: 10%;
}

.user-response-header {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.user-response header {
    font-size: 18px;
    font-weight: 450;
}

.user-response h1 {
    font-size: 20px;
    font-weight: 350;
    line-height: 1.5;
}


.step-three-content p {
    margin-bottom: -15px;
}

.step-three-content header {
    font-size: 18px;
    font-weight: 450;
}

.step-three-content h1 {
    font-size: 16px;
    font-weight: 350;
    line-height: 1.5;
}