.step-one-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.step-one-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
}

.step-one-content p {
    margin-bottom: 15px; /* Adjusted to create space between paragraphs */
}

.step-one-content button {
    margin-top: 20px;
}

.step-one-content header {
    font-size: 18px;
    font-weight: 450;
}

.step-one-content h1 {
    font-size: 16px;
    font-weight: 350;
}

.examples {
    margin-top: 10px; /* Adjust the top margin for indentation */
    margin-left: 20px; /* Adjust the left margin for indentation */
    padding: 10px; /* Add some padding inside the div */
    background-color: #f0faff; /* Very light blue background */
    border-radius: 8px; /* Rounded corners */
}

.examples li {
   color: #868686;
}