.step-four-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
} 


.step-four-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
    margin-right: 10%;
}

.user-response {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
    margin-right: 10%;
}

.user-response-header {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.user-response header {
    font-size: 18px;
    font-weight: 450;
}

.user-response h1 {
    font-size: 16px;
    font-weight: 350;
    line-height: 1.5;
}

.step-four-content header {
    font-size: 18px;
    font-weight: 450;
}

.step-four-content h1 {
    font-size: 16px;
    font-weight: 350;
    line-height: 1.5;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.experiment-btn {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-style: solid;
    border-color: #00000014;
    background-color: white;
}

.experiment-btn:hover {

    background-color: #F1FAFB
}

.experiment-btn:active {

    background-color: #F1FAFB
}


.experiment-btn.clicked {
    background-color: #F1FAFB
}

.experiment-btn h1 {
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
}