.step-four-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
} 


.step-four-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
}


.step-four-content p {
    margin-bottom: -15px;
}

.step-four-content button {
    margin-top: 20px;
}

.step-four-content h1 {
    font-size: 20px;
    font-weight: 350;
}