.step-four-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
} 


.step-four-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
}

.user-response {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 12px;
}

.user-response-header {
    display: flex;
    flex-direction: row;
    text-align: left;

}
.user-response h1 {
    font-size: 20px;
    font-weight: 350;
}

.step-four-content h1 {
    font-size: 20px;
    font-weight: 350;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.experiment-btn {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-style: solid;
    border-color: #00000014;
    background-color: white;
}

.experiment-btn h1 {
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
}