.step-one-container {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 12px;
}

.step-one-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}


.step-one-content p {
    margin-bottom: -15px;
}

.step-one-content button {
    margin-top: 20px;
}

.step-one-content header {
    font-size: 18px;
    font-weight: 450;
}

.step-one-content h1 {
    font-size: 16px;
    font-weight: 350;
}