.step-one-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow: auto; /* Prevents scrollbar if content is too large */
    
}

.step-one-content {
    text-align: left;
    margin-left: 10%;
}

.step-one-content p {
    margin-bottom: -10px;
}

.step-one-content button {
    margin-top: 15px;
}

h1 {
    font-size: 20px;
}