.step-one-container {
    display: flex;
    flex-direction: column;
    overflow: auto; /* Prevents scrollbar if content is too large */
    margin-bottom: 12px;
}

.step-one-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
}


.step-one-content p {
    margin-bottom: -15px;
}

.step-one-content button {
    margin-top: 20px;
}

.step-one-content h1 {
    font-size: 20px;
    font-weight: 350;
}